@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);

body{
  /* background-color: rgba(200,200,200,1) */
  background-color: rgb(212,215,210);
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


#banner{
  font-weight: 800;
  font-family: Vardana, sans-serif;
  font-size: 2.4em;
  color: white;

  margin: auto;
  width: 100%;

  padding-top: 28px;
  padding-bottom: 5px;
  position: sticky;
  display: table;

  /* display: grid; */
  background: rgba(140,177,135,1);
  height: 50px;
}

#existuser {
  display: run-in;
  border: 3px solid rgb(212,215,0);
  font-family: 'Noto Sans Kannada', sans-serif;
  font-size: 0.3em;
  font-weight: normal;
  color: white;
  border: 1px solid rgba(80,80,225,0.4);
  background-color: rgba(50,50,105,0.4);
  text-align: right;

  margin-right: 10%;
  margin-left: 50%;
}



#bgbox {
  align-self: center;
  background-color: rgb(212,215,220);
  background-size: cover;
  height: 700px;
  width: 100%;
  opacity: 1;

  font-family:cursive;
  border-radius:0px;
  margin: auto;
  padding:105px 0px 0px 0px;
}

#ctbox {
  margin: auto;
  width: 40%;
  border: 3px solid rgb(212,215,220);
  padding-top: 10px;

  font-family: 'Noto Sans Kannada', sans-serif;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
}


#fmbox {
  margin: auto;
  width: 40%;
  border: 3px solid rgb(212,215,220);
  font-family: 'Noto Sans Kannada', sans-serif;
  font-size: 2em;
  text-align: center;
  border-radius:25px;
}



#formtxt1 {
  color: rgb(180,180,180);
  font-family: 'Noto Sans Kannada', sans-serif;
  font-size: 0.5em;
  padding-left: 0.5em;

  margin: auto;
  width: 36.8%;
  height: 2em;
  border: 1px solid rgba(40,77,105,0.4);
}

.regrid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 30px;
  grid-template-areas: ". text .";
  grid-gap: 10px;
  padding: 10px;
  background-color: rgba(171, 181, 212, 1);
}

.regrid .text {
  grid-area: text;
  line-height: 16px;
  /* font-size: 16px; */
  text-align: left;
  font-family: sans-serif;
}


.regrid .text .url{
  /* color: rgb(204,0,0); */
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 7px;
}

.regrid .text .snip{
  color: rgb(55,55,55,1);
  font-size: 14px;
  margin-bottom: 12px;

  /* font-weight: bold; */
}
